body{
	background-color: green;
}
.container{
	background-color: yellow;
}body{
	font-family:sans-serif;
	background-color:#F0F0F0 ;
}
#top{
	font-family: sans-serif;
	background-color: #E8E8E8;
	height: 80px;
}
#top h2{
	padding-bottom:0px;
	margin-bottom:0px;
}
#topleft{
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	font-weight: bolder; 
	letter-spacing: 4px;
}
#word1{
	font-weight: bolder; 
	color: #CC0000;
	letter-spacing: 0px;
}
#word2{
	font-weight: bolder; 
	color: #000066;	
	letter-spacing: 0px;
}
#topright{
	text-align: right;
	padding-right: 100px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.navbar-default .navbar-right li a{
	background-color: #606060;
}
.navbar-default .navbar-nav li,.navbar-default .navbar-nav li a,.navbar-default .navbar-nav .active a{
	color:white;
	background-color: #606060;
}
.navbar-default .navbar-nav li a:hover{
	background-color: white;
	color : black;
}
#navbar{
	background-color: #606060;
}
#navstory{
	padding-right: 40px;
}
.navbar-default{
	background-color: #606060;
}
#navbarspan{
	border: 1px solid #707070;
	border-radius: 4px;
	padding: 10px;
;
}
#navbarleft{
	border-top: 2px solid #606060;border-bottom: 2px solid #505050;
}
